.navbar-collapse{
  display: flex;
  margin: 10px;
}

.nav-items{
  display: flex;
  gap: 20px;
}

.cursor-pointer{
  cursor: pointer;
}

.adminblog{
   display: flex;
   justify-content: flex-start;
}

.button-item{
     background-color: darkseagreen !important;
     color: black !important;
     border: 1px solid black !important;
}
.button-items{
     background-color: darkseagreen !important;
     color: black !important;
     border: 1px solid darkseagreen !important;
}